/* **************************** */
/* PATTERN SECTION HOME PAGE | PATTERN PAGE */
/* **************************** */

.pattern-section {
  padding: 6.4rem 0 12.1rem 0;
}

.heading-pattern-section {
  color: #576045;
  margin-bottom: 4.8rem;
  font-weight: 400;
}

/* PATTERN CARD */

.pattern--margin {
  margin: 0 9.6rem 3.2rem 9.6rem;
}

.pattern-sheet {
  padding: 2.4rem 0 9.6rem 0;
}

.pattern-card {
  padding: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(52, 58, 64, 0.08);
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}

.pattern-card:hover {
  transform: translateY(-1.2rem);
  cursor: pointer;
}

.pattern-card-item:hover {
  cursor: pointer;
}

.pattern-card-item {
  overflow: hidden;
  transition: all 0.4s;
}

.pattern-card-item img {
  width: 100%;
  filter: opacity(90%);
  margin-bottom: 1.6rem;
  display: block;
}

/* LANGUAGE TAGS */

.norsk::after {
  content: "norsk";
  font-size: 1.6rem;
  color: #6d7856;
  background-color: #fcfcfc;
  position: absolute;
  top: 4%;
  left: 5%;
  padding: 0.7rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.svenska::after {
  content: "svenska";
  font-size: 1.6rem;
  color: #6d7856;
  background-color: #fcfcfc;
  position: absolute;
  top: 4%;
  left: 5%;
  padding: 0.7rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.english::after {
  content: "english";
  font-size: 1.6rem;
  color: #6d7856;
  background-color: #fcfcfc;
  position: absolute;
  top: 4%;
  left: 5%;
  padding: 0.7rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

.pattern-card-heading {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  color: #576045;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 0.5rem;
}

.pattern-card-price {
  color: #576045;
  font-weight: 400;
  font-size: 1.6rem;
}

.add-cart {
  grid-row: -1;
  grid-column: -1;
  align-self: end;
}

.add-cart-icon,
.add-cart-icon:link,
.add-cart-icon:visited {
  color: #6d7856;
  font-size: 2.4rem;
}

.add-cart-icon:hover,
.add-cart-icon:active {
  color: #8a9378;
}

/* FILTER MENU */

.dropdown {
  width: 22rem;
  position: relative;
  box-shadow: 0 2.4rem 4.8rem rgba(52, 58, 64, 0.08);
}

.dropbtn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: #576045;
  letter-spacing: 0.5rem;
  padding: 0 0 1rem 1rem;
  cursor: pointer;
  border: none;
  background-color: #fcfcfc;
}

.dropbtn:hover,
.dropbtn:active {
  color: #6d7856;
}

.dropDownContent {
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.5s;
  z-index: 1;
  width: 22rem;
  padding: 1rem;
  background-color: rgba(252, 252, 252, 0.967);

  border-bottom: 0.1rem solid #6d7856;
  border-left: 0.1rem solid #6d7856;
  border-right: 0.1rem solid #6d7856;
}

.open {
  display: flex;
}

.filter-item {
  font-size: 2rem;
  color: #6d7856;
  font-weight: 400;
  text-decoration: none;
}

.filter-item:hover {
  color: #576045;
  cursor: pointer;
}

.level-icon {
  height: 2.4rem;
  margin-right: -0.5rem;
}

.level:hover {
  filter: brightness(50%);
}

/* **************************** */
/* EACH PATTERN PAGE */
/* **************************** */

.pattern-grid {
  display: grid;
  gap: 6.4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pattern-img-section {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 3.2rem;
}

.pattern-img {
  width: 100%;
  padding-top: 1rem;
  filter: opacity(50%);
  cursor: pointer;
}

.main-img {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #8a9378;
  grid-column: 2;
}

.pattern-img-main {
  grid-column: 2 / -1;
}

.pattern-img-other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
}

.sticker {
  color: #8a9378;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.pattern-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.text-heading {
  color: #576045;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.description {
  color: #6d7856;
  font-size: 1.6rem;
  line-height: 1.5;
}

.description span {
  font-weight: 600;
  color: #6d7856;
}

.btn--with-icon {
  width: 60%;
  margin-top: 3.6rem;
  cursor: pointer;
}

.add-cart-icon--btn {
  color: #fffbf6;
  margin-right: 1rem;
}

.pattern-info {
  grid-row: 2;
  grid-column: 1 / 4;
}

.pattern-description {
  grid-column: 4 / -1;
  padding-right: 10rem;
}
