/* **************************** */
/* BELOW 1200px (Landscape tablets) */
/* **************************** */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  /******* HERO SECTION ********/
  .hero-heading {
    font-size: 9.6rem;
  }
}

/* **************************** */
/* BELOW 1056px (smaller landscape tablets) */
/* **************************** */
@media (max-width: 66em) {
  /* ABOUT SECTION ********/
  .about-section {
    grid-template-columns: 1fr 1fr;
  }
  .section-img-box {
    margin-top: auto;
  }
  /* PATTERN SECTION ********/
  .pattern-card {
    padding: 1.6rem;
  }
  .svenska::after,
  .norsk::after,
  .english::after {
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    top: 2%;
    left: 3%;
  }
  /* Product PAGE ********/
  .btn--with-icon {
    width: 100%;
  }
  .page-section--product {
    padding: 10rem 5rem 11rem 5rem;
  }
  .content-section {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0rem;
  }
  .pattern-description {
    margin-left: 0;
  }
  .pattern-img-section {
    height: 475px;
    width: 35vw;
  }
  .slider {
    width: 35vw;
    height: 475px;
  }
  .btn-prev {
    top: 40%;
  }
  .btn-next {
    top: 40%;
  }
}

/* **************************** */
/* BELOW 896px (Tablets) */
/* **************************** */
@media (max-width: 56em) {
  header {
    padding: 0 2.5rem;
  }
  .page-section {
    overflow: hidden;
  }
  .page-heading {
    font-size: 4.8rem;
  }

  /* HERO SECTION ********/
  .hero-heading {
    font-size: 8rem;
    letter-spacing: 0.3rem;
    margin-bottom: 6.4rem;
  }

  /* BENEFIT SECTION ********/
  .benefit-text {
    width: 100%;
  }
  .benefit-icon {
    font-size: 4rem;
  }
  .benefit-header {
    font-size: 1.6rem;
  }

  /* ABOUT SECTION ********/
  .page-text-2 {
    position: absolute;
    width: 75%;
  }
  .section-img-box {
    margin-bottom: 2rem;
  }

  /* PATTERN SECTION ********/
  .heading-pattern-section {
    font-size: 3.6rem;
  }
  .pattern-section {
    padding: 4.8rem 0 8rem 0;
  }
  .btn-light-top {
    font-size: 1.6rem;
  }
  .pattern {
    grid-template-columns: 1fr 1fr;
  }
  .pattern-card-heading {
    font-size: 1.6rem;
  }
  .display-no-3 {
    display: none;
  }
  .pattern-sheet {
    padding: 2.4rem 0 4.8rem 0;
  }

  /* PRODUCT PAGE ********/
  .content-section {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    justify-self: center;
  }
  .pattern-description {
    padding-right: 0;
    grid-row: 2;
    grid-column: 1 / -1;
  }
  .pattern-info {
    grid-row: 3;
  }
  .slider {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 560px;
  }
  .pattern-img-section {
    margin-left: auto;
    margin-right: auto;
    height: 560px;
    width: 59vw;
  }
  .btn-prev {
    top: 47%;
    left: 10%;
  }
  .btn-next {
    top: 47%;
    right: 10%;
  }

  /* INSTAGRAM SECTION ********/
  .instagram-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .instagram-heading {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }
  .instagram-box {
    padding-top: 2.4rem;
  }
  .page-text-box {
    width: 75%;
  }

  /******* MOBILE MENU ********/

  header {
    position: relative;
  }
  .btn-mobile-nav {
    display: block;
    border: none;
    cursor: pointer;
    color: #6d7856;
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: 2;
  }
  .header-logo {
    z-index: 3;
  }
  .main-nav-list {
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }
  .menu-icon {
    color: #6d7856;
    font-size: 3.5rem;
    padding: 1rem;
  }
  .menu-icon:hover,
  .menu-icon:focus {
    color: #8a9378;
  }
  .menu-icon--open {
    background-color: #fcfcfc;
  }
  .menu-icon--close {
    background-color: rgba(252, 255, 247, 0.95);
  }
  .nav-open .menu-icon--close {
    display: block;
  }
  .nav-open .menu-icon--open {
    display: block;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.5rem;
  }
}

/* **************************** */
/* BELOW 784px (smaller Tablets) */
/* **************************** */
@media (max-width: 49em) {
  /* HERO SECTION ********/
  .hero-section {
    grid-template-columns: 1fr;
    position: relative;
  }
  .hero-img {
    grid-row: 2;
  }
  .btn-hero {
    width: 100%;
  }

  /* ABOUT SECTION ********/
  .about-section {
    grid-template-columns: 1fr;
  }
  .page-text-2 {
    position: inherit;
    width: 100%;
  }

  /* PATTERN SECTION ********/
  .language-filter {
    grid-template-columns: 1fr 1fr;
  }

  /* PATTERN PAGE ********/
  .pattern-info {
    grid-column: 1 / -1;
  }
  .pattern-img-section,
  .slider {
    height: 500px;
  }
  .pattern-img-section {
    display: flex;
    flex-direction: column;
  }
  .pattern-img-other {
    flex-direction: row;
    width: 20%;
  }
  .btn--with-icon {
    width: 80%;
  }
}

/* **************************** */
/* BELOW 704px (small Tablets) */
/* **************************** */
@media (max-width: 44em) {
  .page-heading {
    margin-bottom: 3.6rem;
    font-size: 3.6rem;
  }
  .page-heading-secondary {
    font-size: 1.6rem;
  }
  .page-text-box {
    width: 100%;
  }

  /* HERO SECTION ********/
  .hero-heading {
    font-size: 6.4rem;
  }

  /* BENEFIT SECTION ********/
  .benefit-box {
    grid-template-columns: 1fr;
    gap: 8rem;
    width: 50%;
  }
  .benefit-icon {
    margin-bottom: 1rem;
  }

  /* PATTERN SECTION ********/
  .pattern-card {
    padding: 1.2rem;
  }
  .pattern--margin {
    margin: 0 4.8rem 2.4rem 4.8rem;
  }
  .filter {
    width: 65rem;
  }
  .filter-heading {
    font-size: 1.6rem;
  }
  .filter-item {
    font-size: 1.6rem;
  }
  .level-icon {
    height: 1.6rem;
  }

  /* PATTERN PAGE ********/
  .pattern-img-section,
  .slider {
    height: 450px;
  }
}

/* **************************** */
/* BELOW 624px (big phones) */
/* **************************** */
@media (max-width: 39em) {
  /* HERO SECTION ********/
  .btn-hero {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    top: 19%;
  }

  /* INSTAGRAM SECTION ********/
  .instagram-heading {
    font-size: 1.8rem;
  }

  /* PATTERN SECTION ********/
  .filter-heading {
    font-size: 1.2rem;
  }
  .pattern-text--ps {
    margin-top: 5rem;
  }
  /* PATTERN PAGE ********/
  .pattern-img-section,
  .slider {
    height: 390px;
  }
}

/* **************************** */
/* BELOW 512px (big phones) */
/* **************************** */
@media (max-width: 34em) {
  .section {
    width: 90%;
  }

  /* HERO SECTION ********/
  .hero-heading {
    margin-bottom: 2.4rem;
    font-size: 3.6rem;
  }
  .hero-sticker {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
  }
  .btn-hero {
    position: inherit;
  }

  /* INSTAGRAM SECTION ********/
  .instagram-box {
    width: 90%;
  }
  .instagram-heading {
    margin-right: 1.2rem;
  }

  /* PATTERN SECTION ********/
  .pattern-section {
    padding: 3.6rem 0 4.8rem 0;
  }
  .pattern--margin {
    margin: 0 2.4rem 3.2rem 2.4rem;
  }
  .heading-pattern-section {
    margin-bottom: 1.6rem;
    font-size: 3.6rem;
  }
  .pattern-card-price {
    font-size: 1.2rem;
  }
  .str-p {
    font-size: 1rem;
  }
  .page-section--product {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* PATTERN PAGE ********/
  .pattern-img-section {
    height: 480px;
    width: 70vw;
  }
  .slider {
    height: 480px;
    width: 70vw;
  }
  .btn-next {
    right: 6%;
  }
  .btn-prev {
    left: 6%;
  }
}

/* **************************** */
/* BELOW 497px (Phones) */
/* **************************** */
@media (max-width: 30em) {
  /* PATTERN PAGE ********/
  .pattern-img-section,
  .slider {
    height: 420px;
  }
}
/* **************************** */
/* BELOW 497px (Phones) */
/* **************************** */
@media (max-width: 26em) {
  /* PATTERN PAGE ********/
  .pattern-img-section,
  .slider {
    height: 370px;
  }
}

/* **************************** */
/* BELOW 368px (Phones) */
/* **************************** */
@media (max-width: 23em) {
  .section {
    width: 100%;
  }
  .page-heading {
    font-size: 3rem;
  }

  /* NAV SECTION ********/
  .menu-icon {
    font-size: 3rem;
  }
  .logo {
    height: 3em;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.8rem;
  }

  /* BENEFIT SECTION ********/
  .benefit-box {
    width: 100%;
  }

  /* INSTAGRAM SECTION ********/
  .instagram-box {
    width: 100%;
  }
  .instagram-heading {
    margin-right: 0;
  }
  .instagram-gallery {
    grid-template-columns: 1fr;
  }

  /* PATTERN SECTION ********/
  .pattern-section {
    padding-top: 4rem;
  }
  .pattern {
    margin: 0 3rem;
  }
  .heading-pattern-section {
    font-size: 3rem;
  }
  .pattern-heading {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .pattern-card-price {
    font-size: 1.6rem;
  }
  .pattern-text--ps {
    font-size: 1.2rem;
  }

  /* PATTERN PAGE ********/
  .pattern-img-section,
  .slider {
    height: 325px;
  }

  /* FOOTER SECTION ********/
  .footer-section {
    width: 90%;
  }
  .social-icon {
    font-size: 2.4rem;
  }
  .footer-link,
  .copyright {
    font-size: 1.2rem;
  }
}
