/* **************************** */
/* BELOW 1344px (smalles computers) */
/* **************************** */

@media (max-width: 85em) {
  .footer-section {
    grid-template-columns: 3fr 1fr 1fr;
  }
  body {
    max-width: 120rem;
  }
  header {
    padding: 0 2rem;
  }
}

/* **************************** */
/* BELOW 1200px (Landscape tablets) */
/* **************************** */

@media (max-width: 75em) {
  /* MAKES EVERYTHING IN REM SMALLER OR LARGER */
  html {
    font-size: 56.25%;
  }

  /******* HERO ********/
  .hero-heading {
    font-size: 9.6rem;
  }

  /******* FOOTER ********/
  .footer-section {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

/* **************************** */
/* BELOW 1056px (smaller landscape tablets) */
/* **************************** */
@media (max-width: 66em) {
  .page-heading {
    margin-bottom: 6.4rem;
  }

  /******* HERO ********/
  .hero-section {
    padding: 4.8rem 0;
  }

  /******* PATTERN ********/
  .pattern-card {
    padding: 1.6rem;
  }
  .svenska::after,
  .norsk::after,
  .english::after {
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    top: 2%;
    left: 3%;
  }

  .btn--with-icon {
    width: 70%;
  }
}

/* **************************** */
/* BELOW 896px (Tablets) */
/* **************************** */
@media (max-width: 56em) {
  .page-section {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
    overflow: hidden;
  }
  .page-heading {
    font-size: 4.8rem;
  }
  .main-section {
    max-width: 100rem;
  }

  /******* HERO ********/
  .hero-heading {
    font-size: 8rem;
    letter-spacing: 0.3rem;
    margin-bottom: 6.4rem;
  }

  /******* PATTERN ********/
  .heading-pattern-section {
    font-size: 3.6rem;
  }
  .pattern-section {
    padding: 4.8rem 0 8rem 0;
  }
  .btn-light-top {
    font-size: 1.6rem;
  }
  .pattern {
    grid-template-columns: 1fr 1fr;
  }
  .pattern-card-heading {
    font-size: 1.6rem;
  }
  .display-no-3 {
    display: none;
  }
  .pattern-sheet {
    padding: 2.4rem 0 4.8rem 0;
  }
  .pattern-description {
    padding-right: 0;
  }

  /******* INSTAGRAM SECTION ********/
  .instagram-heading {
    font-size: 2.4rem;
    margin-left: 2.4rem;
    margin-bottom: 1rem;
  }
  .instagram-box {
    padding-top: 2.4rem;
  }

  .page-text-box {
    width: 75%;
  }

  /******* FOOTER ********/
  .footer {
    padding: 9.6rem 0rem;
  }

  /******* MOBILE MENU ********/

  header {
    position: relative;
  }

  .btn-mobile-nav {
    display: block;
    border: none;
    cursor: pointer;
    color: #6d7856;
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: 2;
  }

  .header-logo {
    z-index: 3;
  }

  .main-nav-list {
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }

  .menu-icon {
    color: #6d7856;
    font-size: 3.5rem;
    padding: 1rem;
  }

  .menu-icon:hover,
  .menu-icon:focus {
    color: #8a9378;
  }

  .menu-icon--open {
    background-color: #fcfcfc;
  }

  .menu-icon--close {
    background-color: rgba(253, 242, 233, 0.96);
  }

  .nav-open .menu-icon--close {
    display: block;
  }

  .nav-open .menu-icon--open {
    display: block;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.5rem;
  }
}

/* **************************** */
/* BELOW 784px (smaller Tablets) */
/* **************************** */
@media (max-width: 49em) {
  /******* PATTERN ********/
  .pattern-info {
    grid-column: 1 / -1;
  }
  .pattern-img-section {
    display: flex;
    flex-direction: column;
  }
  .pattern-img-other {
    flex-direction: row;
    width: 20%;
  }
  .btn--with-icon {
    width: 80%;
  }
}

/* **************************** */
/* BELOW 704px (small Tablets) */
/* **************************** */
@media (max-width: 44em) {
  .page-section--flex {
    gap: 2.4rem;
  }
  .page-heading {
    margin-bottom: 3.6rem;
    font-size: 3.6rem;
  }
  .page-heading-secondary {
    font-size: 1.6rem;
  }
  .page-text-box {
    width: 100%;
  }

  /******* HERO ********/
  .hero-heading {
    font-size: 6.4rem;
  }
  .hero-img-box img {
    width: 100%;
  }

  /******* INSTAGRAM ********/
  .instagram-heading {
    font-size: 1.6rem;
  }

  /******* PATTERN ********/
  .pattern-card {
    padding: 1.2rem;
  }
  .add-cart-icon,
  .add-cart-icon:link,
  .add-cart-icon:visited {
    font-size: 2rem;
  }
  .pattern--margin {
    margin: 0 4.8rem 2.4rem 4.8rem;
  }
  .filter {
    width: 65rem;
  }
  .filter-heading {
    font-size: 1.6rem;
  }
  .filter-item {
    font-size: 1.2rem;
  }
  .level-icon {
    height: 1.6rem;
  }

  /******* FOOTER ********/
  .footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
  }
  .footer {
    padding: 6.4rem 6.4rem;
  }
}

/* **************************** */
/* BELOW 624px (big phones) */
/* **************************** */
@media (max-width: 39em) {
  /******* HERO ********/
  .hero-heading {
    font-size: 3.6rem;
  }
  .hero-section {
    padding: 2.4rem 0;
  }
  .hero {
    grid-template-columns: 1.5fr 1fr;
    gap: 2.4rem;
  }

  /******* PATTERN ********/
  .filter-heading {
    font-size: 1.2rem;
  }
}

/* **************************** */
/* BELOW 512px (big phones) */
/* **************************** */
@media (max-width: 34em) {
  /* .pattern {
    grid-template-columns: 1fr;
  } */
  .page-section {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /******* HERO ********/
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .hero-heading {
    margin-bottom: 2.4rem;
  }
  .hero-sticker {
    font-size: 1.6rem;
  }
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  /******* PATTERN ********/
  .pattern-section {
    padding: 3.6rem 0 4.8rem 0;
  }
  .pattern--margin {
    margin: 0 2.4rem 3.2rem 2.4rem;
  }
  .heading-pattern-section {
    margin-bottom: 1.6rem;
    font-size: 3.6rem;
  }
  .pattern-card-price {
    font-size: 1.2rem;
  }
  .add-cart-icon,
  .add-cart-icon:link,
  .add-cart-icon:visited {
    font-size: 1.6rem;
  }

  /* ** FILTER NEW SMALL MENU */

  .filter-section {
    display: flex;
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 4rem;
    gap: 4rem;
    background-color: rgba(252, 252, 252, 0.97);
    opacity: 1;
  }
  .filter-btn {
    margin-top: 3.2rem;
  }
  .filter-icon {
    color: #6d7856;
    font-size: 2.4rem;
  }
  .filter-icon:hover,
  .filter-icon:active {
    color: #414834;
  }
  .filter-heading {
    font-size: 2.4rem;
  }
  .filter-item {
    font-size: 2rem;
  }
  .level-icon {
    height: 2rem;
  }

  /******* INSTAGRAM ********/

  .instagram-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .instagram-heading {
    margin-right: 1.2rem;
  }

  /******* FOOTER ********/
  .footer {
    padding: 3.6rem;
  }
}

/* **************************** */
/* BELOW 368px (Phones) */
/* **************************** */
@media (max-width: 23em) {
  .page-heading {
    font-size: 3rem;
  }
  .margin {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  /******* HERO ********/
  .hero {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  /******* PATTERN ********/
  .heading-pattern-section {
    font-size: 3rem;
  }
  .pattern {
    grid-template-columns: 1fr;
  }
  .pattern-card-price {
    font-size: 1.6rem;
  }
}
