/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
7 / 10 / 16 / 24 / 30 / 36 / 51 / 81 / 121 

- FONT WEIGHTS
Default: 400
Medium: 500
Semi bold: 600
Bold: 700

- LINE HEIGHTS
Default: 1

- LETTER SPACING
- 0.15em

--- 02 COLORS

- #414834 two step darker
- #576045 one step darker
- #6d7856 PRIMARY TEXT
- #8a9378 one step lighter

- #FCFCFC MAIN BACKGROUND
- #e2e4dd Darker background

- #fffbf6 WHITE TEXT COLOR

- #e2e4dd BORDER COLOR
- #eee BORDER COLOR light


--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS
Default: 

--- 07 WHITESPACE
 - SPACING SYSTEM (px)
16 / 32 / 48 / 64 / 80 / 96 / 112 / 128 / 144 / 160

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343a40;
}

html {
  /* 1rem = 10px */
  /* font-size: 10px; */
  /*  10px / 16px = 0.625 = 62.5% */
  /* PERCENTAGE OF USERS BROWSER FONT-SIXE SETTING */
  font-size: 62.5%;
  background-color: #fcfcfc;
}

body {
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  background-color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
}

/* ************************ */
/* *** GENERAL *** */
/* ************************ */

/* DISPLAY BLOCK */
.block {
  display: block;
}

/* DISPLAY FLEX */
.flex {
  display: flex;
}
.flex-dir-column {
  flex-direction: column;
}

/* DISPLAY GRID */
.grid {
  display: grid;
}
.grid--1-col {
  grid-template-columns: 1fr;
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid--4-cols {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* JUSTIFY */
.justify-items--center {
  justify-items: center;
}
.justify-self--center {
  justify-self: center;
}

/* ALIGN */
.align-items--center {
  align-items: center;
}
.align-self--center {
  align-self: center;
}
.text-align--center {
  text-align: center;
}
.text-align--start {
  text-align: start;
}

/* GAP */
.gap-3-2 {
  gap: 3.2rem;
}
.gap-6-4 {
  gap: 6.4rem;
}

/* TEXT */
.text-decoration-none {
  text-decoration: none;
}

/* FONT-SIZE */
.font-size-1-4 {
  font-size: 1.4rem;
}
.font-size-1-6 {
  font-size: 1.6rem;
}
.font-size-2-4 {
  font-size: 2.4rem;
}
.font-size-3-6 {
  font-size: 3.6rem;
}
.font-size-4-8 {
  font-size: 4.8rem;
}
.font-size-6-4 {
  font-size: 6.4rem;
}
.font-size-12-1 {
  font-size: 12.1rem;
}

/* OPACITY */
.opacity {
  opacity: 0;
}

.hide {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* MARGIN */
.margin-LF-auto {
  margin-left: auto;
  margin-right: auto;
}

/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

/* ************************ */
/* *** HEADER SECTION ALL PAGES *** */
/* ************************ */

header {
  justify-content: space-between;
  background-color: #fcfcfc;
  height: 4.8em;
  padding: 0 4.8em;
  position: relative;
}

.logo {
  height: 4em;
  margin-top: 1.6rem;
}

/* **************************** */
/* NAV SECTION ALL PAGES */
/* **************************** */

.main-nav-list {
  list-style: none;
  gap: 3em;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  color: #6d7856;
}

.main-nav-link:hover,
.main-nav-link:active,
.icon-cart:hover,
.icon-cart:active {
  color: #8a9378;
}

.icon-cart {
  color: #6d7856;
}

.main-nav-list-mobile {
  background-color: rgba(253, 242, 233, 0.96);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  transition: all 0.5s;
  gap: 4rem;
  list-style: none;
}

.btn-mobile-nav {
  display: none;
}

.main-section {
  max-width: 1300px;
  overflow: hidden;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  background-color: #8a9378;
  padding: 1.6rem 3.6rem;
  color: #fffbf6;
  box-shadow: 0 0 1rem rgba(22, 24, 17, 0.268);
  transition: all 0.2s;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: #6d7856;
}

/* **************************** */
/* GENERAL EXTRA */
/* **************************** */

.page-section {
  padding: 9.6rem 0 9.6rem 0;
  margin-left: 3.6rem;
  margin-right: 3.6rem;
}

.page-heading {
  color: #6d7856;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 8rem;
}

.subheading {
  margin-bottom: 6.4rem;
}

.page-text-box {
  margin-bottom: 6.4rem;
  width: 75%;
}

.page-text,
.list-item {
  line-height: 1.6;
  color: #6d7856;
}

.ul-list {
  margin-left: 1.6rem;
}

/* **************************** */
/* HERO SECTION HOME PAGE*/
/* **************************** */

.hero-section {
  padding: 6.4rem 0 0 8rem;
}

.hero {
  padding: 4.8rem;
  gap: 4.8rem;
}

.hero-heading {
  color: #6d7856;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 0.9;
  margin-bottom: 8.1rem;
}

.hero-sticker {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
  color: #576045;
  margin-bottom: 1.6rem;
}

.hero-img-box img {
  width: 100%;
  filter: opacity(95%);
}

/* **************************** */
/* LINK TO ALL PATTERNS PAGE  */
/* **************************** */

.btn-light-top {
  margin-left: 3.2rem;
  background-color: inherit;
}

.btn-light:link,
.btn-light:visited {
  color: #576045;
  text-decoration: none;
  border-bottom: 1px solid #e2e4dd;
  transition: all 0.4s;
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:active,
.btn-light-top:hover,
.btn-light-top:active {
  color: #6d7856;
  border: none;
}

/* **************************** */
/* ABOUT SECTION */
/* **************************** */

.about-section {
  width: 85%;
  gap: 4.8rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9.6rem;
}

.about-img {
  width: 80%;
}

/* **************************** */
/* INSTAGRAM SECTION */
/* **************************** */

.instagram-section {
  margin: 9.6rem 0 9.6rem 0;
}

.instagram-box {
  padding-top: 3.6rem;
  width: 80%;
  background-color: #e2e4dd;
}

.instagram-heading {
  font-weight: 400;
  color: #414834;
  margin-bottom: 1rem;
  text-decoration: none;
  margin-left: 3.6rem;
  margin-right: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: all 0.4s;
}

.instagram-heading:hover,
.instagram-heading:active {
  color: #6d7856;
}

.instagram-link:link,
.instagram-link:visited {
  text-decoration: none;
}

.instagram-gallery {
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* **************************** */
/* CONTACT SECTION */
/* **************************** */

.contact-form {
  background-color: none;
}

.contact-form {
  gap: 2.4rem;
  border: none;
}

.input-field {
  padding: 1rem;
  border: 1px solid #6d7856;
  background-color: #fff;
  width: 50rem;
  color: #576045;
}

.input-field:focus {
  outline: 1px solid #6d7856;
}

.message-field {
  font-family: sans-serif;
  color: #576045;
  resize: none;
}

.btn--contact {
  width: 50rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.ps {
  color: #7c8667;
}

/* **************************** */
/* TO TOP BUTTON - ALL PAGES */
/* **************************** */

.to-top-col {
  text-align: center;
  margin-bottom: 4.8rem;
}

.to-top-icon {
  color: #6d7856;
  font-size: 4.8rem;
}

.to-top-icon:hover {
  color: #8a9378;
}

/* **************************** */
/* LOCAL PAGES */
/* **************************** */

.page-heading-secondary {
  text-transform: uppercase;
  font-weight: 500;
  color: #576045;
  letter-spacing: 0.5rem;
  margin-bottom: 1.6rem;
}

/* **************************** */
/* FOOTER SECTION ALL PAGES*/
/* **************************** */

.footer {
  padding: 9.6rem 6.4rem;
  border-top: 1px solid #eee;
}

.fa-instagram,
.fa-facebook,
.fa-ravelry {
  color: #8a9378;
  margin-bottom: 3.6rem;
}

.fa-instagram:hover,
.fa-facebook:hover,
.fa-ravelry:hover {
  color: #6d7856;
}

.footer-heading {
  font-weight: 500;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  color: #6d7856;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border-bottom: 0.1rem solid #e2e4dd;
}

.footer-nav,
.social-links {
  list-style: none;
  gap: 2.4rem;
}

.footer-link--header {
  margin-bottom: 1rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #8a9378;
  margin-bottom: 3.2rem;
}

.footer-link:hover,
.footer-link:active {
  color: #6d7856;
  transition: all 0.3s;
}

.copyright {
  color: #7c8667;
  line-height: 1.6;
  margin-top: auto;
}
